<form>
    <strong>¿Como quiere publicar?</strong>
    <mat-divider></mat-divider>
    <div class="content-images">
      <div>
          <img src="./../../../assets/hombre.jpg" alt="" class="images-market">
          <span>Hombre</span>
      </div>
      <div>
          <img src="./../../../assets/mujer.jpg" alt="" class="images-market">
          <span>Mujer</span>
      </div>
      <div>
          <img src="./../../../assets/ninos.jpg" alt="" class="images-market">
          <span>Niños</span>
      </div>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Categoria<span class="error">*</span></mat-label>
        <mat-select (selectionChange)="subCategoria($event.value)">
          <mat-option *ngFor="let categoria of categorias" [value]="categoria.id" (change)="subCategoria()">
            {{categoria.type}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="DatoCategoria">
        <mat-form-field>
          <mat-label>Tipo<span class="error">*</span></mat-label>
          <mat-select>
            <mat-option *ngFor="let categoria of categorias" [value]="categoria.id">
              {{categoria.type}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    <div>
      <mat-form-field>
        <mat-label>Talla<span class="error">*</span></mat-label>
        <mat-select>
          <mat-option *ngFor="let talla of tallas" [value]="talla.id">
            {{talla.type}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Marca<span class="error">*</span></mat-label>
        <mat-select>
          <mat-option *ngFor="let marca of marcas" [value]="marca.id">
            {{marca.brand}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Estado<span class="error">*</span></mat-label>
        <mat-select>
          <mat-option *ngFor="let estado of estados" [value]="estado.id">
            {{estado.type}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>    
    <strong>imagen destacada</strong>
    <mat-divider></mat-divider>
    <input type="file" name="destacada"><br/>
    <strong>otras imagenes</strong>
    <mat-divider></mat-divider>
    <input type="file" name="image1"><br/>
    <input type="file" name="image2"><br/>
    <div>
      <button type="submit">Publicar</button>
    </div>
</form>
