.container-products{
    width: 100%;
    height: 100%;
    display: flex;
    // justify-content: center;
    flex-wrap: wrap;
}

.example-card{
    width: 25%;
    margin: 10px 25px;
}

.btn-publicar{
    background-color: #161616fa;
    color: white;
    border: none;
    border-radius: 10px;
    width: 30%;
}

mat-card-actions{
    display: flex;
    justify-content: center;
    height: 30px;
}
img{
    height: 60%;
}

.tittle{
    text-align: center;
}


