<div class="container">

  <div class="card">
      <div class="card-header">

        <h3> Lista Vehiculos </h3>

      </div>
      <div class="card-body">
        <table>
              <thead  >
                  <tr>
                      <th>ID</th>
                      <th>Placa</th>
                      <th> Cilindraje</th>

                  </tr>
              </thead>
              <tbody>
              <tr *ngFor="let vehicle of vehicles" class="text-center">
                  <td>{{vehicle.vehicleId}}</td>
                  <td>{{vehicle.plateVehicle}}</td>
                  <td>{{vehicle.ccVehicle}}</td>
                  <td> <button class="btn btn-danger">Salir</button></td>
              </tr>
              </tbody>
        </table>
      </div>
  </div>

</div>


