<div class="container">

  <div class="card">
      <div class="card-header">

        <h3> Lista Vehiculos </h3>

      </div>
      <div class="card-body">
        <table>
              <thead  >
                  <tr>
                      <th>ID</th>
                      <th>Placa</th>
                      <th> Seccion</th>
                      <th>Lugar</th>
                  </tr>
              </thead>
              <tbody>
              <tr *ngFor="let vehicle of vehicles" class="text-center">
                  <td>{{vehicle.id}}</td>
                  <td>{{vehicle.plate}}</td>
                  <td>{{vehicle.section}}</td>
                  <td>{{vehicle.site}}</td>
                  <td> <button class="btn btn-danger">Salir</button></td>
              </tr>
              </tbody>
        </table>
      </div>
  </div>

</div>


