<mat-sidenav-container>
  <mat-sidenav opened mode="side" class="menu">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['Add']">
        <!-- <mat-icon class="icono">home</mat-icon> -->
        Inicio
      </a>
      <a mat-list-item [routerLink]="['vehicles']">
        <!-- <mat-icon class="icono">style</mat-icon> -->
        Lista vehiculos
      </a>
      <a mat-list-item [routerLink]="['bill']">
        <!-- <mat-icon class="icono">local_atm</mat-icon> -->
        Pagar
      </a>
      <a mat-list-item [routerLink]="['']">
        <!-- <mat-icon class="icono">no_meeting_room</mat-icon>  -->
        Salir
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container-menu">
        <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
