/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0 !important;
}

.carousel-item{
  height: 100% !important;
}

.carousel-inner{
  height: 100% !important;
}
